<%= form_for(@comment) do |f| %>
  
    <%= f.hidden_field :link_id %>
    <%= f.hidden_field :parent_id %>

    <div class="field">
	    <%= f.text_area :body, required: true %>
	</div>
 	
 	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>