<div class="group summary-bar">
	<div class="left-summary-box">
		
		<img class="avatar" src="<%= @image_src %>">
		
		
	</div>
	
	<div class="right-summary-box">
		<h1 class="user-heading">Welcome, <%= @user.username %></h1>
		<a href="http://en.gravatar.com/" target="_blank" class="small-label">No image?</a><br />
		<%= link_to "Change password", edit_user_registration_path, :class => "small-label" %>
	</div>
</div>

<div class="group detail-bar">
	<div class="center-content">

	<!-- User favorites display -->
	<h2 class="user-list-header">
		You have <%= @favorites.empty? ? "not favorited anything yet!" : @favorites.count.to_s + " Favorites:"%>
	</h2>

	<table class="user-profile-table">
		<% @favorites.each do |fav| %>
			<tr>
				<td><%= link_to fav.title, link_path(fav.link_id), :class => "main-table-left user-table-link" %></td>
				<td><%= render partial: 'delete_favorite_button', locals: {fav: fav} %></td>
			</tr>
		<% end %>
	</table>

	<!-- User favorites display -->
	<h2 class="user-list-header">
		You have <%= @savedjobs.empty? ? "no saved jobs yet!" : @savedjobs.count.to_s + " Saved Jobs:"%>
	</h2>

	<table class="user-profile-table">
		<% @savedjobs.each do |fav| %>
			<tr>
				<td><%= link_to fav.title, job_path(fav.job_id), :class => "main-table-left user-table-link" %></td>
				<td><%= render partial: 'delete_savedjob_button', locals: {fav: fav} %></td>
			</tr>
		<% end %>
	</table>

	<!-- User submitted links display -->
	<h2 class="user-list-header">
		You have <%= @savedjobs.empty? ? "not submitted any Resources yet!" : "submitted " + @links.count.to_s + " Resources:"%>
	</h2>

	<table class="user-profile-table">
		<% @links.each do |link| %>
			<tr>
				<td><%= link_to link.title, link_path(link.id), :class => "main-table-left user-table-link" %></td>
				<td><%= link_to "Edit", edit_link_path(link.id), :class => "main-table-left user-table-edit-link" %></td>
				<td><%= render partial: 'delete_link_button', locals: {link: link} %></td>
			</tr>
		<% end %>
	</table>

	</div>
</div>

