<p class="breadcrumb">
	<%= link_to "Home", links_path %> / Resource details
</p>

<div class="group summary-bar">
	<div class="left-summary-box">
		<img class="avatar" src="<%= @image_src %>">		
	</div>
	<div class="right-summary-box">
		<h1 class="user-heading">User: <%= @user.username %></h1>
	</div>
</div>

<div class="group detail-bar">
	<div class="center-content">
		<h2 class="user-list-header">
			<%= @user.username %> has <%= @links.empty? ? "not submitted any Resources yet!" : "submitted " + @links.count.to_s + " Resources:"%>
		</h2>

		<table class="user-profile-table">
			<% @links.each do |link| %>
				<tr>
					<td><%= link_to link.title, link_path(link.id), :class => "main-table-left user-table-link" %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>