<% if @link.errors.any? %>
	<p>There were some problems submitting your form:</p>
	<ul>
		<% @link.errors.full_messages.each do |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>
	</ul>
<% end %>



<%= form_for @link do |f| %>
	
	<div class="field">
		<div class="label">Title <span id="red-star">*</span></div>
		<%= f.text_field :title, autofocus: true %>
	</div>

	<div class="field">
		<div class="label">Link to resource (URL) <span id="red-star">*</span></div>
		<%= f.text_field :link_url %>
	</div>
	
	<div class="field">
		<div class="label">Tags (separated by commas) <span id="red-star">*</span></div>
		<%= f.text_field :tag_list %>
	</div>

	<div class="field">
		<%= f.label "What year was this resource published?", :class => "label" %>
		<%= select_year(Date.today, start_year: 1950, end_year: 2015) %>
	</div><br />

	<div class="field">
		<%= f.label :about_link, "Endorse this resource: Why did you find it useful? Would you recommend it?", :class => "label" %>
		<%= f.text_area :about_link %>
	</div>

	<div class="small-label required"><span id="red-star">*</span> = required field</div>
	
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>