<div class="main-content">
	<% @grouped_links.each do |date, links| %>
		<h2 class="date-header"><%= date == DateTime.now.to_date ? "Today" : date.strftime("%A, %d %B") %></h2>
		<ul>
			<% links.each do |link| %>
				<li class="group">
					<div class="upvote-box">
						<%= render partial: 'upvote_buttons', locals: {link: link} %>
					</div>

					<div class="link-bar-1">
						<%= link_to link.title, link_path(link.id), :class => "group link-title" %>
						<%= render partial: 'favorite_buttons', locals: {link: link} %>
						<div class="group link-meta">
							shared by <%= link_to link.user[:username], user_path(link.user[:id]), :class => "link-meta-submitter" %>
							<%= date == DateTime.now.to_date ? time_ago_in_words(link.created_at.getlocal) + " ago" : link.created_at.getlocal.strftime("on %b %e, at %l:%M %P") %> | 
						<%= link_to pluralize(link.comments.count, "comment"), link_path(link), :class => "link-comments" %>
						</div>
					</div>
					
					<div class="group link-bar-2">
						<% link.tags.each do |t| %>
							<%= link_to t.name, tag_path(t), :class => "link-tag" %>
						<% end %>
					</div>
				</li><br />
			<% end %>
		</ul>
	<% end %>

	<%= paginate @links %>
</div>

<div class="sidebar">
	<div class="job-sidebar-heading group">
		<h3>Jobs from </h3><!-- 
		--><a href="https://github.com/" target="_blank">
			<%= image_tag("github/GitHub_Logo.png", alt: "GitHub", class: "github-logo") %>
			<%= image_tag("github/GitHub-Mark-32px.png", alt: "GitHub", class: "github-logo") %>
		</a>
	</div>
	<% if @tag %>
		<div class="job-post">
			Showing GitHub jobs relating to <%= @tag_name %>
		</div>
	<% end %>
	<ol>
	 	<% @result.each do |r| %>
	 		<div class="job-post">
	 			<li>
		 			<%= link_to r["title"], job_path(r["id"]), :class => "job-post-link" %><br />
		 			<%= link_to r["location"], job_path(r["id"]) %><br />
		 			<%= link_to r["company"], job_path(r["id"]) %><br />
		 			<%= link_to r["type"], job_path(r["id"]) %><br />
	 			</li>
	 		</div>
	 	<% end %>
	 </ol>
</div>