<div class="main-content">

	<p class="breadcrumb">
		<%= link_to "Home", links_path %> / Resource details
	</p>

	<h1 class="link-detail-title"><%= @link.title %></h1>

	<p class="link-details">Posted by <%= link_to @link.user[:username], user_path(@link.user[:id]), :class => "link-meta-submitter" %>
		on <%= @link.created_at.getlocal.to_date.strftime("%A, %d %B") %></p>
	
	<!-- Check if status of screenshot is finished, display api info if not  -->
	<% if !@status == "finished" %>
		<p class="link-details">Screenshot status: <%= @status %></p>
	<% end %>
	
	<!-- Display screenshot and make it a clickable link -->
	<a href="<%= @link.link_url %>" target="_blank">
		<img src="https://www.browshot.com/screenshot/image/<%= @image_id %>?scale=1&key=<%= @key %>" width="500" alt=
		"Tutorial screenshot not ready yet. Be patient, they sometimes take a while to arrive." 
		class="screenshot-image"><br />
	</a>

	<p class="link-details">
		<a href="<%= @link.link_url %>" target="_blank" class="link-details-out"><%= @link.link_url %></a>
	</p>

	<!-- <h2>Endorsement and further details:</h2> -->
	<p class="link-details"><%= @link.about_link %></p>
	<p class="link-details">This resource was originally published in <%= @link.year %>.</p>

</div>

<div class="sidebar">
	<div class="job-sidebar-heading group"><h3>Jobs from </h3><a href="https://github.com/" target="_blank">
		<%= image_tag("github/GitHub_Logo.png", alt: "GitHub", class: "github-logo") %>
		<%= image_tag("github/GitHub-Mark-32px.png", alt: "GitHub", class: "github-logo") %></a>
	</div>
	<ol>
	 	<% @result.each do |r| %>
	 		<div class="job-post">
		 		<li>
		 			<%= link_to r["title"], job_path(r["id"]), :class => "job-post-link" %><br />
		 			<%= link_to r["location"], job_path(r["id"]) %><br />
		 			<%= link_to r["company"], job_path(r["id"]) %><br />
		 			<%= link_to r["type"], job_path(r["id"]) %><br />
		 		</li>
		 	</div>
	 	<% end %>
	 </ol>
</div>
