<!DOCTYPE html>
<html>
<head>
  <title>Uplearn</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:100,300,400' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Raleway:400,300,600' %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Merriweather:400,400italic,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="group">

	<!-- Header First Row -->
	<div class="group header-row-1">
		<div class="main-heading">
			<h1><a href="/links"><div class="logo-letter">Up</div><div class="logo">Learn</div></a></h1>
		</div>
		
		<div class="user-actions">	
			<ul>
				<% if user_signed_in? %>
				<li>
					<div class="user-actions-avatar">
						<img class="avatar-mini" src="<%= current_user_gravatar %>">
					</div>
					<div class="user-actions-words">
						Hello <%= link_to current_user.username, user_path(current_user[:id]), :class => "user-actions-link" %>. <%= link_to "Sign out?", destroy_user_session_path, :method => :delete, :class => "user-actions-link" %>
					</div>
				</li>
				<% else %>
				<li>
					<div class="user-actions-words">
						New user? <%= link_to "Register", new_user_registration_path, :class => "user-actions-link" %> / 
						<%= link_to "Sign in", new_user_session_path, :class => "user-actions-link" %>
					</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>

	<!-- Header Second Row -->
	<div class="group header-row-2">
		<h2><div class="sub-logo">Social learning</div></h2>
		
		<ul>
			<div class="search">
				<li>
					<%= form_tag links_path, :method => "get" do %>
						<%= text_field_tag(:search, nil, class: "search-box") %>
						<%= submit_tag("Search", class: "search-button") %>
					<% end %>
				</li>
			</div>
			<div class="header-navigation">
				<li>
					<%= link_to "Add Link", new_link_path, :class => "header-navigation-link" %>
				</li>
				<li>
					<%= link_to "About", about_path, :class => "header-navigation-link" %>
				</li>
			</div>
		</ul>
	</div>
</header>

<!-- Flash notices from devise -->
<% if notice %>
	<p class="notice"><%= notice %></p>
<% elsif alert %>
	<p class="alert"><%= alert %></p>
<% end %>

<div class="group container-large">
	<%= yield %>
</div>

<footer class="group">
	<div class="footer-navigation">
		<ul>
			<li>
				<%= link_to "Home", links_path, :class => "footer-navigation-link" %>
			</li>
			<li>
				<a href="http://www.benlcollins.com/contact/" target="_blank" class="footer-navigation-link">Contact</a>
			</li>
			<li>
				<%= link_to "About", about_path, :class => "footer-navigation-link" %>
			</li>
			<li>
				<%= link_to "Submit new link", new_link_path, :class => "footer-navigation-link" %>
			</li>
		</ul>
	</div>
</footer>

</body>
</html>
